{% extends 'supercar/base.html'%}
{% load static %}

{% block head_title %}Home{% endblock %}


{% block content %}

<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shop Category</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>


{% include 'supercar/product-grid.html' %}


<section class="related-product-area">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Popular Item in the market</p>
            <h2>Top <span class="section-intro__style">Product</span></h2>
        </div>
        <div class="row mt-30">
        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
            <div class="single-search-product-wrapper">
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/product/product-sm-1.png" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Gray Coffee Cup</a>
                        <div class="price">$170.00</div>
                    </div>
                </div>
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/product/product-sm-2.png" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Gray Coffee Cup</a>
                        <div class="price">$170.00</div>
                    </div>
                </div>
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/product/product-sm-3.png" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Gray Coffee Cup</a>
                        <div class="price">$170.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="subscribe-position">
    <div class="container">
        <div class="subscribe text-center">
            <h3 class="subscribe__title">Get Update From Anywhere</h3>
            <p>Bearing Void gathering light light his eavening unto dont afraid</p>
            <div id="mc_embed_signup">
            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe-form form-inline mt-5 pt-1" novalidate="true">
                <div class="form-group ml-sm-auto">
                    <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Your Email Address '">
                    <div class="info"></div>
                </div>
                <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
                <div style="position: absolute; left: -5000px;">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                </div>
            </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}