{% extends 'supercar/base.html'%}
{% load static %}
{% block content %}
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="owl-carousel owl-theme s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                    </div>
                    <!-- <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                    </div> -->
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{ object.name}}</h3>
                    <h2>{{ object.price }}</h2>
                    <ul class="list">
                        {% if object.brand.name %}
                        <li><a class="active" href="#"><span>Brand</span> : {{ object.brand.name }}</a></li>
                        {% endif %}
                        <li><a href="#"><span>Availibility</span> : In Stock</a></li>
                    </ul>
                    <p>Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for
                        something that can make your interior look awesome, and at the same time give you the pleasant warm feeling
                        during the winter.</p>
                    <div class="product_count">
                        <label for="qty">Quantity:</label>
                        
                        <a class="button primary-btn" href="{{ object.get_add_to_cart_url }}">Add to Cart</a>         
                        <a class="button primary-btn" href="{{ object.get_remove_from_cart_url }}">Remove Cart</a>         
                    </div>
                    <div class="card_area d-flex align-items-center">
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                    aria-selected="false">Specification</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                {{ object.description|safe }}
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            {% if object.group.name %}
                            <tr>
                                <td>
                                    <h5>Group</h5>
                                </td>
                                <td>
                                    <h5>{{object.group.name}}</h5>
                                </td>
                            </tr>
                            {% endif %}
                            {% if object.category.name %}
                            <tr>
                                <td>
                                    <h5>Category</h5>
                                </td>
                                <td>
                                    <h5>{{object.category.name}}</h5>
                                </td>
                            </tr>
                            {% endif %}
                            {% if object.brand.name %}
                            <tr>
                                <td>
                                    <h5>Brand</h5>
                                </td>
                                <td>
                                    <h5>{{object.brand.name}}</h5>
                                </td>
                            </tr>
                            {% endif %}
                            {% if object.model.name %}
                            <tr>
                                <td>
                                    <h5>Model</h5>
                                </td>
                                <td>
                                    <h5>{{object.model.name}}</h5>
                                </td>
                            </tr>
                            {% endif %}
                            {% if object.type.name %}
                            <tr>
                                <td>
                                    <h5>Type</h5>
                                </td>
                                <td>
                                    <h5>{{object.type.name}}</h5>
                                </td>
                            </tr>
                            {% endif %}
                            {% if object.fuel.name %}
                            <tr>
                                <td>
                                    <h5>Fuel</h5>
                                </td>
                                <td>
                                    <h5>{{object.fuel.name}}</h5>
                                </td>
                            </tr>
                            {% endif %}
                            {% if object.trailer_type.name %}
                            <tr>
                                <td>
                                    <h5>Trailer type</h5>
                                </td>
                                <td>
                                    <h5>{{object.trailer_type.name}}</h5>
                                </td>
                            </tr>
                            {% endif %}
                            {% if object.year_production %}
                            <tr>
                                <td>
                                    <h5>Production year</h5>
                                </td>
                                <td>
                                    <h5>{{object.year_production}}</h5>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}